<div th:fragment="footer">
<footer>
    <div class="container text-center">
    <br>
        <p>&copy; 2025 ArtConnect. Created by <a href="https://www.linkedin.com/in/deepa-mofficial"><strong>Deepa M</strong></a>. Crafted with &hearts; and code. All rights reserved.</p>
        
    </div>
</footer>
<div id="chatbot">
    <div id="chat-toggle" onclick="toggleChat()"><img src="/images/bot.gif" class="bot-avatar"></div>

    <div id="chat-window">
        <div id="chat-header">Art Assistant 🎨</div>
        <div id="chat-body"></div>

        <div id="chat-input">
            <input type="text" id="userInput" placeholder="Ask about art...">
            <button onclick="sendMessage()">➤</button>
        </div>
    </div>
</div>
<script src="/js/chatbot.js"></script>
</div>
